<div class="topnav">
    <img src="assets/logo.svg" height="70">
    <div class="topnavlft">
        <ul>
            <li><a routerLink="landing">Landings</a></li>
          
            <li><a routerLink="Banking" class="page">Banking</a></li>
            <li  routerLink="aboutus" ><DIV>About us</DIV>
            <li><a routerLink="contactus">Contact us</a></li>
           
        </ul>
  
        <div>
             
        </div>
        
  
    </div>
    
  
  </div>
  <router-outlet></router-outlet>